---
import { getCollection, render} from 'astro:content';
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import { Card } from '@astrojs/starlight/components';
import { formatDate } from '../../components/blog/blogUtils.ts';
import BlogHomeIcon from './assets/_newspaper.svg'
import HomeIcon from './assets/_home.svg'
import AuthorCard from '../../components/blog/AuthorCard.astro';

/**
 * Required function for dynamic routes; deteremines the slug
 */
export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { 
			slug: post.id
		},
		props: post,
	}));
}

/**
 * Get Author Data
 */
const authors = await getCollection('authors');
const author = authors.at(0); //TODO Replace with a find function 

/**
 * Properties used on this page
 */
const post = Astro.props;
const title = post.data.title;
const date = formatDate(post.data.pubDate);
const { Content, headings, remarkPluginFrontmatter } = await render(post);
---

<StarlightPage frontmatter={{ title: title }} headings={headings} hasSidebar={false}>
	<div class="text-sm not-content block-markdown-content">
	  <a href={import.meta.env.BASE_URL + "/"}>
		<HomeIcon />
		<span>Home</span>
      </a>&nbsp;&gt;
	  <a href={import.meta.env.BASE_URL + "/blog/"}>
		<BlogHomeIcon />
		<span>Blogs</span>
      </a>&nbsp;&gt;&nbsp;{post.data.title}
	</div>
	<Card title="Blog Header Image will go here" />
	<AuthorCard author={author} date={date}/>
	<Content />
</StarlightPage>

<style>
	/* This is to align the home and blog home icons alongside the text */
	a {
	  display: inline-block;
	}
	a svg {
	  display: inline-block;
      vertical-align: bottom;
	  width: 1.5em;
}
</style>